@model IEnumerable<Coursework1.Models.ViewPostVM>

@{
    ViewData["Title"] = "Index";
}

<h2>Posts</h2>

@if (ViewContext.HttpContext.User.IsInRole("canPost"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Post)</a>
                </td>
                <td>
                    <a asp-controller="Comment" asp-action="CommentsView" asp-route-postId="@item.PostId">Comments</a> |
                    @if (ViewContext.HttpContext.User.IsInRole("canDeletePost"))
                    {
                        <a asp-action="Delete" asp-route-postId="@item.PostId">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<hr id="postHr"/>

