@model IEnumerable<Coursework1.Models.ViewCommentVM>

@{
    ViewData["Title"] = "Comments";
}

<h2>Comments</h2>
@if (ViewContext.HttpContext.User.IsInRole("canComment"))
{
    <p>
        <a asp-controller="Comment" asp-action="AddComment" asp-route-postId="@ViewData["PostId"]">Create New</a>
    </p>
}

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.FirstOrDefault() == null)
            {
                <tr>This post doesn't have any comments yet.</tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentMessage)
                    </td>
                    <td>
                        @if (ViewContext.HttpContext.User.IsInRole("canDeleteComment"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr id="commentHr" />

<a asp-controller="PostModels" asp-action="Index">Back to Posts</a>
