@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    BlogSite, Swansea University<br />
    Fabian Way<br />
    Swansea,  SA1 8EN<br />
    <abbr title="Phone">P:</abbr>
    01792 205678
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@BlogSite.com">Support@BlogSite.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@BlogSite.com">Marketing@BlogSite.com</a>
</address>
